xsd/report.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WorksOfAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Author">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Work">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Publication">
                      <xs:complexType>
                        <xs:attribute name="publisher" type="xs:string" use="required" />
                        <xs:attribute name="pubYear" type="xs:date" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="title" type="xs:string" use="required" />
                  <xs:attribute name="genre" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="firstName" type="xs:string" use="required" />
            <xs:attribute name="lastName" type="xs:string" use="required" />
            <xs:attribute name="dob" type="xs:date" use="required" />
            <xs:attribute name="dod" type="xs:date" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
